:root {
    --news-image-size: 480px;
    --news-card-height: 240px;
}

.news-header {
    height: calc(var(--header-height) / 2);
    background: linear-gradient(var(--darken-image), var(--darken-image)), url("../images/header_news.jpg") no-repeat center fixed;
    background-size: contain, cover;
    width: 100%;
}

.news-header-large {
    height: var(--header-height);
    background: linear-gradient(var(--darken-image), var(--darken-image)), url("../images/header_news_large.jpg") no-repeat fixed center;
    background-size: contain, cover;
    width: 100%;
}

.news-title {
    padding: 0 var(--spacing4) var(--spacing3) var(--spacing3);
}

@media screen and (max-width: 550px) {
    .news-header-large h1, .news-header h1 {
        font-size: calc(var(--h2-font-size) * 2);
    }
}

.news {
    padding: var(--spacing5) 0;
}

.cover-image {
    width: var(--news-image-size);
    height: var(--news-image-size);
    object-fit: cover;
    box-shadow: var(--box-shadow);
    display: block;
    max-width: 100%;
    margin: var(--spacing3) 0;
}

.news-cards {
    text-align: center;
    background-color: var(--main-color);
    padding: var(--spacing4) var(--spacing3);
}

.card p, .card h3 {
    text-align: left;
}

.news-cards h2 {
    margin-bottom: var(--spacing4);
}

.card h3 {
    margin-bottom: var(--spacing2);
}

.card {
    background: var(--light);
    opacity: 0.9;
    border: none;
    box-shadow: var(--box-shadow);
    margin-bottom: var(--spacing4);
    padding-left: 0;
    padding-right: 0;
    margin: 0 var(--spacing) var(--spacing4);
}

.card-img-top {
    height: var(--news-card-height);
    object-fit: cover;
}
