<nav class="navbar navbar-expand-md fixed-top">
    <a class="navbar-brand title-light" href="/admin/home">
        <img src="/assets/images/logo.svg" alt="Home" class="logo">
        U.S.O. Échecs
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav w-100 justify-content-end">
            <li class="nav-item">
                <a class="nav-link title-light" href="/news/admin">
                    Actualités
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link title-light" href="/adminCompetition/index">
                    Compétitions
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle title-light" href="" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Membres
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item title-light" href="/admin/members">Membres de l'association</a>
                    <a class="dropdown-item title-light" href="/admin/acceptMembers">Membres à valider</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link title-light" href="/admin/partners">
                    Partenaires
                </a>
            </li>
        </ul>
    </div>
</nav>
