<footer class="container-fluid">
    <div class="row mx-0 row-footer">
        <div class="col-md-5 offset-md-1 d-flex align-items-center p-3 footer-presentation">
            <p>Le club d'échecs d'Orléans propose des cours de tout âge, des séances libres ainsi que de véritables
                cours pour ceux qui souhaitent se perfectionner et participer aux différentes compétitions. <br>
                Très actif et impliqué, le club participe à tous les challenges locaux. Les tournois se font en équipe
                ou en individuel, on peut aisément intégrer une équipe en fonction de son niveau et pouvoir évoluer
                grâce aux conseils des autres adhérents.</p>
        </div>
        <div class="col-6 col-md-2 offset-md-1 d-flex flex-column justify-content-around align-items-md-center
        align-items-start p-3 footer-association">
            <p class="footer-association-title">L'association</p>
            <a href="/chessGame/rules">Découvrir les échecs</a>
            <a href="/competition/index">Les compétitions</a>
            <a href="/news/index">Les actualités</a>
            <a href="/home/inscription">Nous rejoindre</a>
            <a href="/home/contact">Nous contacter</a>
        </div>
        <div class="col-6 col-md-2 p-3 d-flex flex-column justify-content-around align-items-center">
            <a href="https://www.facebook.com/usoechecs/" class="social-networks" target="_blank">
                <img src="/assets/images/contact_icon/facebook.svg" alt="Facebook">
            </a>
            <a href="https://twitter.com/ffechecs" class="social-networks" target="_blank">
                <img src="/assets/images/contact_icon/twitter.svg" alt="Twitter">
            </a>
            <a href="https://www.instagram.com/wwwchesscom" class="social-networks" target="_blank">
                <img src="/assets/images/contact_icon/instagram.svg" alt="Instagram">
            </a>
        </div>
        <div class="col-12 d-flex flex-column flex-md-row justify-content-center pt-3 copyright">
            <small><a href="/home/legalNotice">Mentions légales &emsp;</a></small>
            <small>© 2020 Copyright:
                <a href="https://www.wildcodeschool.com/fr-FR/campus/orleans">
                    Wild Code School Orléans
                </a>
            </small>
        </div>
    </div>
</footer>