<nav class="navbar navbar-expand-md fixed-top">
    <a class="navbar-brand title-light" href="/">
        <img src="/assets/images/logo.svg" alt="Home" class="logo">
        U.S.O. Échecs
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav w-100 justify-content-end">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle title-light" href="#association" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    L'association
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item title-light" href="/association/boardMembers">Les membres du bureau</a>
                    <a class="dropdown-item title-light" href="/association/partner">Les partenaires</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link title-light" href="/competition/index">
                    Compétitions
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link title-light" href="/news/index">
                    Actualités
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link title-light" href="/chessGame/rules">
                    Découvrir les échecs
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link title-light" href="/home/inscription">
                    Adhésion
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link title-light" href="/home/contact">
                    Contact
                </a>
            </li>
        </ul>
    </div>
</nav>
